<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homePay</title>
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
</head>
<body>
<div class="form-modal">

    <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">log in</button>
        <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
    </div>

    <div id="login-form">
        <form id="form-login">
            <input type="text" name="email" placeholder="Enter email"/>
            <input type="password" name="password" placeholder="Enter password"/>
            <button type="submit" class="btn login">login</button>
            <hr/>
        </form>
    </div>

    <div id="signup-form">
        <form id="form-registry">
            <input type="email" name="email" placeholder="Enter your email"/>
            <input type="text" name="firstName" placeholder="First name">
            <input type="text" name="lastName" placeholder="Last name">
            <input type="password" name="password" placeholder="Create password"/>
            <button type="submit" class="btn signup">create account</button>
            <hr/>
        </form>
    </div>

</div>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>